<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faker options</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
  </head>
  <body>
    <div v-scope>
      <h1>Faker configuration</h1>

      <h2>Storage server</h2>
      <label for="serverUri">Storage server URI</label>
      <input
        type="text"
        id="serverUri"
        v-model="configurationStore.serverUri"
        @change="save"
        :disabled="isLoadingConfigCheck"
      />

      <label for="serverUsername">Storage server username</label>
      <input
        type="text"
        id="serverUsername"
        v-model="configurationStore.serverUsername"
        @change="save"
        :disabled="isLoadingConfigCheck"
      />

      <label for="serverPassword">Storage server password</label>
      <input
        type="password"
        id="serverPassword"
        v-model="configurationStore.serverPassword"
        @change="save"
        :disabled="isLoadingConfigCheck"
      />

      <div>
        <button @click="checkConfiguration" :disabled="isLoadingConfigCheck">Check configuration</button>
      </div>

      <span v-if="isLoadingConfigCheck">Checking configuration...</span>
      <span v-if="checkConfigurationResult">{{ checkConfigurationResult }}</span>

      <h2>Social Networks Integrations</h2>
      <div>
        <input type="checkbox" id="linkedinActivated" v-model="configurationStore.linkedinActivated" @change="save" />
        <label for="linkedinActivated">LinkedIn</label>
      </div>
      <div>
        <input type="checkbox" id="facebookActivated" v-model="configurationStore.facebookActivated" @change="save" />
        <label for="facebookActivated">Facebook</label>
      </div>
      <div>
        <input type="checkbox" id="twitterActivated" v-model="configurationStore.twitterActivated" @change="save" />
        <label for="twitterActivated">Twitter</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="instagramActivated"
          v-model="configurationStore.instagramActivated"
          @change="save"
          disabled
        />
        <label for="instagramActivated">Instagram</label>
      </div>

      <h3>Content auto-replacement</h3>
      <p>
        The auto-replacement feature does a lot of background network requests. Disabling any of this (especially files)
        can help with performance.
      </p>
      <div>
        <input type="checkbox" id="autoLoadText" v-model="configurationStore.autoLoadText" @change="save" />
        <label for="autoLoadText">Auto-load text</label>
      </div>
      <div>
        <input type="checkbox" id="autoLoadImages" v-model="configurationStore.autoLoadImages" @change="save" />
        <label for="autoLoadImages">Auto-load images</label>
      </div>
      <div>
        <input type="checkbox" id="autoLoadVideos" v-model="configurationStore.autoLoadVideos" @change="save" />
        <label for="autoLoadVideos">Auto-load videos</label>
      </div>

      <h1>Upload with Faker</h1>
      <p>
        Uploading with Faker may not work on some websites. Use this tool to get a link that you can publish anywhere.
      </p>

      <div style="margin-bottom: 10px">
        <input type="radio" id="uploadTypeText" value="text" v-model="uploadWhatType" />
        <label for="uploadTypeText">Upload some text</label>
        <br />
        <input type="radio" id="uploadTypeFile" value="file" v-model="uploadWhatType" />
        <label for="uploadTypeFile">Upload a file</label>
      </div>

      <div v-if="uploadWhatType === 'text'">
        <label for="uploadText">Text to upload</label>
        <textarea id="uploadText" v-model="uploadText" :disabled="isLoadingUpload"></textarea>

        <button @click="upload" :disabled="isLoadingUpload">Upload!</button>
      </div>
      <div v-else-if="uploadWhatType === 'file'">
        <label for="uploadFile">File to upload</label>
        <input type="file" id="uploadFile" @change="upload" :disabled="isLoadingUpload" />
      </div>

      <span v-if="isLoadingUpload">Uploading...</span>
      <span v-if="uploadResult">{{ uploadResult }}</span>
      <textarea v-if="uploadResultLink" type="text" rows="1" readonly>{{ uploadResultLink }}</textarea>
    </div>

    <div style="text-align: center">
      <a href="https://github.com/rigwild/faker-ext">GitHub</a>
    </div>

    <script type="module" src="options.js"></script>
  </body>
</html>
