<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faker options</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
  </head>
  <body>
    <div v-scope>
      <h1>Faker configuration</h1>

      <h2>Storage server</h2>
      <label for="serverUri">Storage server URI:</label>
      <input type="text" id="serverUri" v-model="store.serverUri" @change="save" />

      <label for="serverPassword">Storage server password:</label>
      <input type="text" id="serverPassword" v-model="store.serverPassword" @change="save" />

      <h2>Social Networks</h2>
      <div>
        <input type="checkbox" id="linkedinActivated" v-model="store.linkedinActivated" @change="save" />
        <label for="linkedinActivated">LinkedIn</label>
      </div>
      <div>
        <input type="checkbox" id="facebookActivated" v-model="store.facebookActivated" @change="save" disabled />
        <label for="facebookActivated">Facebook</label>
      </div>
      <div>
        <input type="checkbox" id="twitterActivated" v-model="store.twitterActivated" @change="save" disabled />
        <label for="twitterActivated">Twitter</label>
      </div>
      <div>
        <input type="checkbox" id="instagramActivated" v-model="store.instagramActivated" @change="save" disabled />
        <label for="instagramActivated">Instagram</label>
      </div>
    </div>

    <div style="text-align: center">
      <a href="https://github.com/rigwild/faker-ext">GitHub</a>
    </div>

    <script type="module" src="options.js"></script>
  </body>
</html>
